.sidebar {

  width:260px;

  min-height:100vh;

  background:#111827;

  border-right:1px solid #1f2937;

  padding:25px;

}



.sidebar h2 {

  font-size:24px;

  margin-bottom:35px;

}



.sidebar a {

  display:flex;

  align-items:center;

  gap:12px;

  padding:12px 15px;

  margin-bottom:10px;

  border-radius:12px;

  color:#9ca3af;

  text-decoration:none;

  transition:0.3s;

}



.sidebar a:hover {

  background:#1f2937;

  color:white;

  transform:translateX(5px);

}



.sidebar a.active {

  background:#6366f1;

  color:white;

}